html{
	scroll-behavior: smooth;
}
.nav-item{
	padding: 0 15px;
}

.nav-link{
	font-size: 1.2rem;
}
.navbar-brand{
	font-family: 'Roboto Slab', serif ;
	text-align: center;
}


.center{
  margin-top: 5px;
	font-size: 14px;
	text-align: center;
  color: grey;
}
.text-center {
    margin-bottom: 20px;
}
  
  .container {
    margin-top: 40px;
    max-width: 800px; /* Измените значение по вашему усмотрению */
  }
  
  .aboutimg {
    justify-content: center;
    width: 40%; /* Укажите желаемую ширину изображения */
    height: auto;
    max-width: 100%; /* Ограничьте максимальную ширину изображения, если это необходимо */
    display: block; /* Убедитесь, что изображение является блочным элементом */
    margin: 0 auto; /* Центрируйте изображение по горизонтали */
  }
  
#albom h2{
    margin: 40px;
	font-size: 40px;
	text-align: center;
}